name: CI Linting & Tests

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  main:
    name: Compile, Lint and Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14
    - run: npm install
    - run: npm run lint
    - run: npm run test